.banner-home {
  background-size: cover;
  min-height: 600px;
  background-position: center;
  position: relative;
}
.banner-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #3b425c00 0%,
    #00000000 32%,
    #00000097 55%,
    #000000 100%
  );
  opacity: 1;
  z-index: 1;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
