.saiba {
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
}
.saiba .contentParagraph {
  color: #474544;
  font-size: 16px;
  line-height: 28px;
  font-family: "Poppins";
}
.saiba .contentTitle {
  color: #3b425c;
  font-size: 28px;
  line-height: 43px;
  font-family: "Poppins";
  font-weight: bold;
}
