.texto-imagem {
  padding-top: 50px;
  padding-bottom: 50px;
}
.texto-imagem .boxTextoImagem:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.texto-imagem .col-texto {
  flex: 2;
  padding-top: 20px;
  padding-bottom: 20px;
}
.texto-imagem .col-imagem {
  flex: 1;
  flex-shrink: 0;
}
.texto-imagem .col-imagem img {
  border-radius: 20px;
}
.texto-imagem .col-texto .texto {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 30px;
  color: #474544;
}
