.entrevistas {
  padding-top: 106px;
  padding-bottom: 106px;
  background-color: #1b2838;
}
.entrevistas hr {
  color: #dbdbdb;
  height: 1px;
  width: 329px;
  max-width: 100%;
}
.entrevistas .boxContentEntrevistas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.entrevistas .boxContentEntrevistas .boxTitleAndDescriptionEntrevistas {
  max-width: 430px;
  width: 100%;
  margin-right: auto;
}
.entrevistas .boxContentEntrevistas .boxTitleAndDescriptionEntrevistas .title {
  font-size: 35px;
  line-height: 33px;
  color: #ffffff;
}
.entrevistas
  .boxContentEntrevistas
  .boxTitleAndDescriptionEntrevistas
  .description {
  font-size: 22px;
  line-height: 33px;
  color: #f4f4f4;
}
.entrevistas .boxContentEntrevistas .boxImage {
  max-width: 642px;
  width: 100%;
  border-radius: 20px;
}
.entrevistas .boxContentEntrevistas .boxImage > iframe {
  border-radius: 20px;
  max-width: 100%;
  width: 100%;
}
